@media screen and (min-width: 350px) and (max-width:479px) {
    .menu img, footer img{
        height:50px;
        margin: 5px 0px;
    }
    .container-titulo{
        padding: 0px;
    }
    .container-titulo h1{
        font-size: 35px;
    }
    .produto{
        padding: 20px 10px;
        width: 340px;
        gap: 15px;
        flex-direction: column;
    }
    .name-image{
        align-items: center;
    }
    .p1{
        height: 400px;
        width: 300px;
    }
    .descricao{
        gap: 15px;
        padding: 10px;
    }
    .texto{
        font-size: 16px;
    }
    footer{
        padding: 0px 2px;
    }
    footer p{
        font-size: 11px;
    }
}

@media screen and (min-width: 480px) and (max-width:689px) {
    .menu img, footer img{
        height:50px;
    }
    .container-titulo{
        padding: 0px 10px;
    }
    .container-titulo h1{
        font-size: 40px;
    }
    .produto{
        padding: 20px 10px;
        width: 460px;
        gap: 15px;
        flex-direction: column;
    }
    .name-image{
        align-items: center;
    }
    .p1{
        height: 400px;
        width: 300px;
    }
    .descricao{
        gap: 15px;
        padding: 10px;
    }
    .texto{
        font-size: 16px;
    }
}

@media screen and (min-width:690px) and (max-width:849px) {
    .menu img{
        height:60px;
    }
    .container-titulo{
        padding: 0px 20px;
    }
    .container-titulo h1{
        font-size: 50px;
    }
    .produto{
        padding: 30px 10px;
        width: 680px;
        gap: 15px;
    }
    .p1{
        height: 400px;
        width: 300px;
    }
    .descricao{
        gap: 15px;
    }
    .texto{
        font-size: 16px;
    }
}

@media screen and (min-width:850px) and (max-width:1000px) {
    .produto{
        padding: 30px 10px;
        width: 840px;
    }
}
